{% extends 'base.html' %}
{% block content %}
<h2 class="h4 mb-4">Portrait Booking</h2>
<form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            {% for field in form.visible_fields|slice:":6" %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small">{{ field.errors|striptags }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {% for field in form.visible_fields|slice:"6:" %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small">{{ field.errors|striptags }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <button class="btn btn-primary btn-block">Submit &amp; Proceed to Payment</button>
</form>
{% endblock %}



















